/* .table{
    margin-left: 4rem;
    width: 91.5%;
    margin-top: 2rem;
    background-color:#F2F4F4;
} */
.ap_expand_data{
    margin-top: -7.5rem;
    margin-left: 15rem;
}
.ap_data{
    margin-top: 2rem;
    margin-left: -2rem;
}
/* .ap_data{
    margin-top: 5rem;
} */